Repository fizyk/pyproject-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: pipenv, mypy, check-python-version-consistency

.pre-commit-config.yaml:

---
ci:
  skip: [pipenv, mypy, check-python-version-consistency]

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: 4.0.0
default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-yaml
      - id: pretty-format-json
      - id: detect-private-key
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.2
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix, --respect-gitignore, --show-fixes]
      - id: ruff-format

  - repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.5
    hooks:
      - id: rstcheck
        additional_dependencies: [sphinx, toml]

  - repo: local
    hooks:
      - id: pipenv
        stages: [pre-commit, manual]
        language: system
        name: Install dependencies for the local linters
        entry: bash -c "pip install pipenv && pipenv install --dev"
        types_or:
          - python
          - toml  # Pipfile
        pass_filenames: false
      - id: mypy
        stages: [pre-commit, manual]
        name: mypy
        entry: pipenv run mypy .
        language: system
        types_or:
          - python
          - toml  # Pipfile
        pass_filenames: false
      - id: check-python-version-consistency
        name: Check Python version consistency (pyproject.toml)
        description: Checks whether 'requires-python' is consistent with 'classifiers'.
        entry: ./check_python_versions.py  # Path to a script in this repository
        language: python
        additional_dependencies: [
          "packaging>=20.0",
          "tomli>=1.0.0; python_version < '3.11'" # Tomli only for Py < 3.11
        ]
        files: ^pyproject\.toml$
        pass_filenames: false

Final docs
  CHANGES.rst
  CONTRIBUTING.rst
Due: none

Release 0.1.0
  CHANGES.rst
  README.rst
  newsfragments/+53ffe4aa.feature.rst
  newsfragments/+e6304783.feature.rst
  pyproject.toml
Due: pipenv, mypy, check-python-version-consistency

Fix readme indentation
  README.rst
Due: none

Add pyproject-fmt to pre-commit - close #7
  .coderabbit.yaml
  .pre-commit-config.yaml
  Pipfile
  newsfragments/.gitignore
  newsfragments/19.misc.rst
  newsfragments/7.misc.rst
  pyproject.toml
Due: pipenv, mypy, check-python-version-consistency

Move dev env to uv - closes #9
  .github/dependabot.yml
  .github/workflows/automerge.yml
  .github/workflows/pr-check.yml
  .github/workflows/pre-commit.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  Pipfile
  README.rst
  check_python_versions/__init__.py
  check_python_versions/__main__.py
  newsfragments/11.misc.rst
  newsfragments/6.misc.rst
  newsfragments/9.misc.rst
  pyproject.toml
  uv.lock
Due: pipenv, mypy, check-python-version-consistency

Add scheduled release workflow - closes #10
  .github/workflows/release-schedule.yml
  newsfragments/10.misc.rst
Due: none

Add zizmor to pre-commit and fix findings - closes #8
  .github/workflows/automerge.yml
  .pre-commit-config.yaml
  newsfragments/12.misc.rst
  newsfragments/8.misc.rst
Due: none

Validate ruff's target_version - closes #24
  .pre-commit-hooks.yaml
  README.rst
  check_python_versions/__init__.py
  newsfragments/25.feature.rst
  tests/pyproject.py
  tests/test_check_python_versions.py
  tests/test_main_check_python_versions.py
Due: pipenv, mypy

Modularize codebase - closes #36
  README.rst
  check_python_versions/__init__.py
  check_python_versions/__main__.py
  check_python_versions/checks/__init__.py
  check_python_versions/checks/base.py
  check_python_versions/checks/requires_python.py
  check_python_versions/checks/ruff.py
  check_python_versions/classifiers.py
  check_python_versions/cli.py
  check_python_versions/pyproject.py
  check_python_versions/report.py
  newsfragments/36.misc.rst
  pyproject.toml
  tests/test_check_python_versions.py
  tests/test_checks.py
  tests/test_main_check_python_versions.py
Due: pipenv, mypy, check-python-version-consistency

Add support for Python 3.15, Drop for 3.10 - closes #21
  .github/workflows/tests.yml
  check_python_versions/pyproject.py
  newsfragments/21.break.rst
  newsfragments/21.feature.rst
  newsfragments/23.misc.rst
  pyproject.toml
  tests/checks/__init__.py
  tests/checks/test_requires_python.py
  tests/checks/test_ruff.py
  tests/pyproject.py
  tests/test_classifiers.py
  tests/test_cli.py
  uv.lock
Due: pipenv, mypy, check-python-version-consistency
